@model IS_Proekt.Domain.Author

@{
    ViewData["Title"] = "Delete";
}

<div class="container mt-5">
    <div class="text-center mb-4">
        <h1>Delete Author</h1>
    </div>

    <div class="card shadow border-0 rounded">
        <div class="card-body p-4">
            <h4 class="card-title mb-4">Confirm Deletion</h4>
            <p class="text-danger">Are you sure you want to delete this author?</p>
            <hr />
            <dl class="row">
                <dt class="col-sm-3 font-weight-bold">
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.FirstName)
                </dd>
                <dt class="col-sm-3 font-weight-bold">
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.LastName)
                </dd>
            </dl>
            <form asp-action="Delete" class="text-center">
                <input type="hidden" asp-for="Id" />
                <button type="submit" class="btn btn-danger btn-lg">Delete</button>
                <a asp-action="Index" class="btn btn-secondary btn-lg ms-3">Back to List</a>
            </form>
        </div>
    </div>
</div>
